:root {
    --dark: #1F2937;   
    --white: #F9F4F8;
    --gray: #E5E7EB;
    --blue: #3882F6;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.8rem;
}

.container {
    max-width: 100rem;
    margin: 0 auto;
}

.button {
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.header {
    background-color: var(--dark);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav__logo {
    width: 50px;
}

.nav__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10rem 0;
    gap: 10rem;
}
    
.bottom__main {
    flex: 1;
}

.bottom__placeholder {
    flex: 1;
}


.bottom__title {
    font-size: 4.8rem;
    font-weight: 900;
    color: var(--white);
    margin-bottom: 0;
}

.bottom__subtext {
    font-size: 1.8rem;
    color: var(--gray);
    margin-top: 0;
}

.bottom__button {
    background-color: var(--blue);
}

.information {
    text-align: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem 0 7rem 0;
}

.information__title {
    font-size: 3.6rem;
    font-weight: 900;
    color: var(--dark);
}
.information__images {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.information__image{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information__image img {
    width: 15rem;
    flex: 1;
}

.information__image p {
    color: #1F2937;
}

.quote {
    background-color: var(--gray);
    padding: 5rem 0;
}

.quote__content {
    max-width: 80rem;
    margin: 0 auto;
}

.quote__text {
    font-size: 3.6rem;
    font-style: italic;
    color: var(--dark);
    /* text-align: right; */
}

.quote__author {
    color: var(--dark);
    font-size: 3rem;
    font-weight: 800;
    text-align: right;
}

.random{
    color: var(--white);
    margin: 10rem 0;
    font-size: 2rem;
}

.random__content {
    background-color: var(--blue);
    padding: 6rem 10rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.random__content p {
    margin: 0;
}

.random__text--bold {
    font-weight: bold;
}

.random__text--italic {
    font-style: italic;
}

.button--random {
    border: 2px solid var(--white);
}